node_modules/
/dist
.vscode/
*.swp
.DS_Store
Thumbs.db
.env
.env.*

# --- PYTHON / DJANGO BACKEND ---

__pycache__/
*.py[cod]
*$py.class

venv/

db.sqlite3
db.sqlite3-journal
*.sqlite3

.env.local
.env.production

backend/media/

backend/staticfiles/

.coverage
htmlcov/
.pytest_cache/
